BOT_TOKEN=8626236319:AAHlnSpOvmkYe5e0cVjpg8Lfp1Ew5xlsYVM

POSTGRES_DB=linkgen
POSTGRES_USER=linkgen
POSTGRES_PASSWORD=strongpassword
DATABASE_URL=postgresql+asyncpg://linkgen:strongpassword@postgres:5432/linkgen

REDIS_URL=redis://redis:6379

STATIC_DIR=/app/static
TEMPLATES_DIR=/app/templates

# Domain used for preview links (must have wildcard DNS + SSL)
PREVIEW_DOMAIN=preview.domain1.com

# Telegram IDs администраторов через запятую
ADMIN_IDS=1062244900
