aiogram==3.10.0
fastapi==0.111.0
uvicorn[standard]==0.30.1
sqlalchemy[asyncio]==2.0.31
asyncpg==0.29.0
alembic==1.13.2
redis[hiredis]==5.0.7
jinja2==3.1.4
python-dotenv==1.0.1
aiofiles==23.2.1
python-multipart==0.0.9
deep-translator==1.11.4

# testing
pytest==8.3.2
pytest-asyncio==0.23.8
httpx==0.27.0
